* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    background-color: #0093a4;
    height: 2.5rem;
    width: 100%;
    border-bottom: rgba(255, 255, 255, 0.481);
}
.main-nav {
    display: flex;
}

.nav-left a img {
    height: 2rem;
    width: 2rem;
    margin-top: .25rem;
}
.nav-left {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
.nav-left ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-left ul li {
    padding: 0px 13px;
}
.nav-left ul li a {
    text-decoration: none;
    color: white;
    font-size: .7rem;
}

.nav-left ul li a:hover {
    text-decoration: underline orange;
    text-underline-offset: 2px;

}

.nav-right {
    display: flex;
    justify-content: right;
    margin-left: auto;
    align-items: center;
    margin-right: 10px;
}
.nav-right button {
    padding: 3px;
    background: transparent;
    border: white;
    color: white;
    cursor: pointer;
}

.nav-right a {
    border: 1px solid white;
    border-radius: 3px;
    margin: 0px .2rem;
}
.bars {
    display: none;
}
.superhero-girl {
    background-color: #ffdfa1;
    background-position: 50% 100%;
}
.superhero-girl-text {
    width: 50%;
    margin: 0px;
    padding: 0px;
}
.superhero-girl-text h1 {
    color: #292F36;
    margin: 0 0 0.5em 0;
    font-family: "Barlow Semi Condensed Semibold", sans-serif;
    font-size: 2rem;
    line-height: 1.16;
    padding-left: 15rem;
    padding-top: 5rem;
    text-align: left;
}
.superhero-girl-text h2 {
    color: #292F36;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1em;
    font-size: 1rem;
    line-height: 1.4;
    margin: 1em 0;
    padding-left: 15rem;
}
.superhero-girl-text a {
    text-decoration: none;
    color: white;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    margin-left: 15rem;
    padding: 12px 20px;
    background-color: #44769f;
    border: #44769f;
    border-radius: 5px;
}
.container {
    display: flex;
}
.superhero-girl img {
    width: 720px;

}
img.tablet {
    display: none;
}

/* nav bar responsive */

@media screen and (min-width: 0px) and (max-width: 320px){
    
    nav {
        background-color: #0093a4;
        height: 3rem;
        width: 100%;
    }
    .nav-left a img {
        height: 2rem;
        width: 2rem;
        margin-top: .5rem;
    }
    .nav-right {
        display: flex;
        justify-content: start;
        margin-left: auto;
        align-items: center;
        margin-right: 10px;
    }
    .nav-left ul {
        display: none;
    }
    .bars {
        display: block;
    }
    .bars i {
        font-size: .5rem;
    }
    .create {
        display: none;
    }
    .question {
        display: none;
    }
    .nav-right button {
        padding: 3px;
        color: white;
        cursor: pointer;
        width: 4rem;
        font-size: .8rem;
    }
    .nav-right a {
        border: none;
        border-radius: 3px;
        margin: 0px .2rem;
    }
    .nav-right a {
        border: 1px solid white;
        border-radius: 3px;
        margin: 0px.2rem;
    }
    .superhero-girl-text{
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .superhero-girl-text h1 {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
        padding-bottom: .5rem;
        text-align: center;
        line-height: 1.16;

    }
    .superhero-girl-text h2 {
        text-align: center;
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        line-height: 1.4;
    }
    .container {
        display: block;
    }
    .superhero-girl-text a {
        margin: 0;
        display: inline-block;
    }
    .btn {
        padding:1em;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 0;
    }
   .superhero-girl-img img {
    width: 80%;
    display: block;
    position: relative;
    left: 4rem;
    margin-top: 1rem;
   }
   img.tablet {
    display: none;
}

}

/* medium screen */

@media screen and (min-width: 321px) and (max-width: 375px){
    nav {
        background-color: #0093a4;
        height: 3rem;
        width: 100%;
    }
    .nav-left a img {
        height: 2rem;
        width: 2rem;
        margin-top: .5rem;
    }
    .nav-right {
        display: flex;
        justify-content: start;
        margin-left: auto;
        align-items: center;
        margin-right: 10px;
    }
    .nav-left ul {
        display: none;
    }
    .bars {
        display: block;
    }
    .bars i {
        font-size: .5rem;
    }
    .create {
        display: none;
    }
    .question {
        display: none;
    }
    .nav-right button {
        padding: 3px;
        color: white;
        cursor: pointer;
        width: 4rem;
        font-size: .8rem;
    }
    .nav-right a {
        border: none;
        border-radius: 3px;
        margin: 0px .2rem;
    }
    .nav-right a {
        border: 1px solid white;
        border-radius: 3px;
        margin: 0px.2rem;
    }
    .superhero-girl-text{
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .superhero-girl-text h1 {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
        padding-bottom: .5rem;
        text-align: center;
        line-height: 1.16;

    }
    .superhero-girl-text h2 {
        text-align: center;
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        line-height: 1.4;
    }
    .container {
        display: block;
    }
    .superhero-girl-text a {
        margin: 0;
    }
    .btn {
        display: inline-block;
    }
   .superhero-girl-img img {
    width: 80%;
    display: block;
    position: relative;
    left: 4rem;
    margin-top: 1rem;
   }
img.tablet {
    display: none;
}
}
/* Large mobile screen */

@media screen and (min-width: 376px) and (max-width: 425px){
    nav {
        background-color: #0093a4;
        height: 3rem;
        width: 100%;
    }
    .nav-left a img {
        height: 2rem;
        width: 2rem;
        margin-top: .5rem;
    }
    .nav-right {
        display: flex;
        justify-content: start;
        margin-left: auto;
        align-items: center;
        margin-right: 10px;
    }
    .nav-left ul {
        display: none;
    }
    .bars {
        display: block;
    }
    .bars i {
        font-size: .5rem;
    }
    .nav-right button {
        padding: 3px;
        color: white;
        cursor: pointer;
        width: 4rem;
        font-size: .8rem;
    }
    .nav-right a {
        border: none;
        border-radius: 3px;
        margin: 0px .2rem;
    }
    .nav-right a {
        border: 1px solid white;
        border-radius: 3px;
        margin: 0px.2rem;
    }
    .superhero-girl-text{
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .superhero-girl-text h1 {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
        padding-bottom: .5rem;
        text-align: center;
        line-height: 1.16;

    }
    .superhero-girl-text h2 {
        text-align: center;
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        line-height: 1.4;
    }
    .container {
        display: block;
    }
    .superhero-girl-text a {
        margin: 0;
    }
    .btn {
        display: inline-block;
    }
   .superhero-girl-img img {
    width: 80%;
    display: block;
    position: relative;
    left: 4rem;
    margin-top: 1rem;
   }
   img.tablet {
    display: none;
}
}

/* 426 to 550 */
/* 
@media screen and (min-width: 426px) and (max-width: 550px){
    nav {
        background-color: #0093a4;
        height: 3rem;
        width: 100%;
    }
    .nav-left a img {
        height: 2rem;
        width: 2rem;
        margin-top: .5rem;
    }
    .nav-right {
        display: flex;
        justify-content: start;
        margin-left: auto;
        align-items: center;
        margin-right: 10px;
    }
    .nav-left ul {
        display: none;
    }
    .bars {
        display: block;
    }
    .bars i {
        font-size: .5rem;
    }
    .nav-right button {
        padding: 3px;
        color: white;
        cursor: pointer;
        width: 4rem;
        font-size: .8rem;
    }
    .nav-right a {
        border: none;
        border-radius: 3px;
        margin: 0px .2rem;
    }
    .nav-right a {
        border: 1px solid white;
        border-radius: 3px;
        margin: 0px.2rem;
    }
    .superhero-girl-text{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .superhero-girl-text h1 {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
        padding-bottom: .5rem;
        text-align: center;
        line-height: 1.16;

    }
    .superhero-girl-text h2 {
        text-align: center;
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        line-height: 1.4;
    }
    .container {
        display: block;
    }
    .btn {
        position: relative;
        text-align: center;
    }
   .superhero-girl-img img {
    width: 80%;
    display: block;
    position: relative;
    left: 4rem;
    margin-top: 1rem;
   } 
}
*/

/* tablet screen */ 
@media screen and (min-width: 426px) and (max-width: 768px){
    .superhero-girl {
        background-color: #ffdfa1;
        background-position: 50% 100%;
    }
    .superhero-girl-text {
        width: 50%;
        margin: 0px;
        padding: 0px;
    }
    .superhero-girl-text h1 {
        color: #292F36;
        margin: 0 0 0.5em 0;
        font-family: "Barlow Semi Condensed Semibold", sans-serif;
        font-size: 2rem;
        line-height: 1.16;
        padding-left: 2rem;
        padding-top: 2rem;
    }
    .superhero-girl-text h2 {
        color: #292F36;
        font-family: "Metropolis", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 1em;
        font-size: 1.25rem;
        line-height: 1.4;
        margin: 1em 0;
        padding-left: 2rem;
    }
    .superhero-girl-text a {
        text-decoration: none;
        color: white;
        font-family: "Metropolis", sans-serif;
        font-weight: 200;
        margin-left: 2rem;
        padding: 12px 20px;
        background-color: #44769f;
        border: #44769f;
        border-radius: 5px;
    }
    .container {
        display: flex;
    }
    .all {
        display: none;
    
    }
    img.tablet {
        display: block;

    }
    .superhero-girl-img img {
        width: 50vw;
        position: relative;
        bottom: 0;
    }

    
}

/* laptop screen */
@media screen and (min-width: 789px) and (max-width: 1024px){
    .superhero-girl-img img {
        width: 60vw;
    }
    .superhero-girl-text h1 {
        padding-left: 2rem;
    }
    .superhero-girl-text h2 {
        padding-left: 2rem;
    }
    .superhero-girl-text a {
        margin-left: 2rem;
    }
}


/* @media screen and (min-width: 426px) and (max-width: 768px){
    .nav-left ul li a {
        text-decoration: none;
        color: white;
        font-size: .5rem;
    }
    .nav-left ul li {
        padding: 0px 10px;
    }  

} */