* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    background-color: #0093a4;
    height: 2.5rem;
    width: 100%;
    border-bottom: rgba(255, 255, 255, 0.481);
}
.main-nav {
    display: flex;
}

.nav-left a img {
    height: 2rem;
    width: 2rem;
    margin-top: .25rem;
}
.nav-left {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
.nav-left ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-left ul li {
    padding: 0px 13px;
}
.nav-left ul li a {
    text-decoration: none;
    color: white;
    font-size: .7rem;
}

.nav-left ul li a:hover {
    text-decoration: underline orange;
    text-underline-offset: 2px;

}

.nav-right {
    display: flex;
    justify-content: right;
    margin-left: auto;
    align-items: center;
    margin-right: 10px;
}
.nav-right button {
    padding: 3px;
    background: transparent;
    border: white;
    color: white;
    cursor: pointer;
}

.nav-right a {
    border: 1px solid white;
    border-radius: 3px;
    margin: 0px .2rem;
}
.bars {
    display: none;
}
.superhero-girl {
    background-color: #ffdfa1;
    background-position: 50% 100%;
}
.superhero-girl-text {
    width: 50%;
    margin: 0px;
    padding: 0px;
}
.superhero-girl-text h1 {
    color: #292F36;
    margin: 0 0 0.5em 0;
    font-family: "Barlow Semi Condensed Semibold", sans-serif;
    font-size: 2rem;
    line-height: 1.16;
    padding-left: 15rem;
    padding-top: 5rem;
    text-align: left;
}
.superhero-girl-text h2 {
    color: #292F36;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1em;
    font-size: 1rem;
    line-height: 1.4;
    margin: 1em 0;
    padding-left: 15rem;
}
.superhero-girl-text a {
    text-decoration: none;
    color: white;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    margin-left: 15rem;
    padding: 12px 20px;
    background-color: #44769f;
    border: #44769f;
    border-radius: 5px;
}
.container {
    display: flex;
}
.superhero-girl img {
    width: 720px;

}
img.tablet {
    display: none;
}
.every-student {
    text-align: center;
    margin: 1rem;
    color: #292f36;
    font-size: 1.2rem;
}
.statitics {
    margin: 2em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
}
.stats-num {
    text-align: center;
    color: #292f36;
    font-size: 5vw;
    font-weight: 600;
}
.stats-dis {
    color: #292F36;
    font-size: 1.2vw;
}
.statitics a {
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}
.stats-num:hover {
    color: #0093a4;
}
.servies {
    margin: 2em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 3rem;
}
.ser-img {
    height: 33vh;
    width: 23vw;
    background-image: url(hour-of-code.jpeg);
    border-radius: 3px;
}
.ser-img_2 {
    height: 33vh;
    width: 23vw;
    background-image: url(logo_tall_elementary.jpg);
    border-radius: 3px;
}
.ser-img_3 {
    height: 33vh;
    width: 23vw;
    background-image: url(logo_tall_teacher2.jpeg);
    border-radius: 3px;
}
.ser-img_4 {
    height: 33vh;
    width: 23vw;
    background-image: url(logo_tall_map.jpeg);
    border-radius: 3px;
}
.servies a {
    text-decoration: none;
}
.ser-txt {
    text-align: center;
    color: white;
    background-color: #03a2b0f6;
    font-size: 1vw;
    padding: .8rem;
    border-radius: 3px;
    margin-top: -3vh;
    text-decoration: none;
}
.text1 {
    font-size: 1.5vw;
    font-weight: 600;
}
.text2 {
    font-size: 1vw;
    font-weight: 500;
} 
.text1:hover {
    text-decoration: underline;
}
.ser-dis {
    background-color: #59cad3;
    text-align: center;
    padding: 30px;
    line-height: 2;
    font-size: 1.15vw;
    font-weight: 600;
    color: white;
    margin-top: -.2em;
}
.dis1:hover {
    text-decoration: underline;
}
.dis2:hover {
    text-decoration: underline;
}
.dis3:hover {
    text-decoration: underline;
}
.beguni {
    background-color: #6f6998fa;
}
.beguni2 {
    background-color: #a69bc1;
}
.akasi {
    background-color: #048cbdf6;
}
.akasi2 {
    background-color: #59b9dc;
}
.holud {
    background-color: #bdc225f6;
}
.holud2 {
    background-color: #d1d567;
}
.project-count {
    background-color: #ffa400;
    text-align: center;
    height: 3rem; 
    display: flex;
    justify-content: center; /* Horizontal center alignment */
    align-items: center;
}
.project-count a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}
.thanks {
    text-align: center;
    margin: 1rem;
    color: #292f36;
    font-size: 1.2rem;
}
.sponser {
    text-align: center;
    margin: 1rem;
    color: #292f36;
    font-size: .8rem;
}
.donate {
    text-align: center;
}
.donate a{
    background-color: #6f488e;
    text-decoration: none;
    color: white;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
}
.more-supporters {
    text-align: center;
    margin-top: 1rem;
}
.more-supporters a {
    color: #6f488e;
    font-weight: 600;
    text-decoration: underline ;
}
footer {
    background-color: #292f36;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
}
.footer-left {
    
}
.fotter-links {
    display: block;
    margin: 0 12rem;
    padding: 2rem;
}
.fotter-links a {
    color: white;
    text-decoration: none;
    font-size: .9vw;
    margin: 3px;
}
.policy {
    color: #ffa41c;
}
#policy:hover {
    text-decoration: underline #ffa41c;
}
.footer-copyright {
   
}
.footer-text1 .footer-text2 {
    font-size: .9rem;
}
.footer-right select {
    margin-top: 2rem;
    height: 1.4rem;
    width: 7rem;

}
.footer-right{
    display: block;
}
.footer-icons a i {
    color: white;
}
.footer-icons a {
    padding: .6rem;
}

/* nav bar responsive */

@media screen and (min-width: 0px) and (max-width: 320px){
    
    nav {
        background-color: #0093a4;
        height: 3rem;
        width: 100%;
    }
    .nav-left a img {
        height: 2rem;
        width: 2rem;
        margin-top: .5rem;
    }
    .nav-right {
        display: flex;
        justify-content: start;
        margin-left: auto;
        align-items: center;
        margin-right: 10px;
    }
    .nav-left ul {
        display: none;
    }
    .bars {
        display: block;
    }
    .bars i {
        font-size: .5rem;
    }
    .create {
        display: none;
    }
    .question {
        display: none;
    }
    .nav-right button {
        padding: 3px;
        color: white;
        cursor: pointer;
        width: 4rem;
        font-size: .8rem;
    }
    .nav-right a {
        border: none;
        border-radius: 3px;
        margin: 0px .2rem;
    }
    .nav-right a {
        border: 1px solid white;
        border-radius: 3px;
        margin: 0px.2rem;
    }
    .superhero-girl-text{
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .superhero-girl-text h1 {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
        padding-bottom: .5rem;
        text-align: center;
        line-height: 1.16;

    }
    .superhero-girl-text h2 {
        text-align: center;
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        line-height: 1.4;
    }
    .container {
        display: block;
    }
    .superhero-girl-text a {
        margin: 0;
        display: inline-block;
    }
    .btn {
        padding:1em;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 0;
    }
   .superhero-girl-img img {
    width: 80%;
    display: block;
    position: relative;
    left: 4rem;
    margin-top: 1rem;
   }
   img.tablet {
    display: none;
}

.statitics {
    display: flex;
    flex-wrap: nowrap;
    margin: .02rem .01rem;
}
.stats-num {
    font-size: 5vw;
}
.stats-dis{
    font-size: 1.3vw;
}
.servies {
    text-align: center;
    display: block;
    justify-content: space-evenly;
    row-gap: 3rem;
}
.ser-img {
    height: 30vh;
    width: 90vw;
    background-image: url(hour-of-code.jpeg);
    border-radius: 3px;
}
.ser-img_2 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_elementary.jpg);
    border-radius: 3px;
}
.ser-img_3 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_teacher2.jpeg);
    border-radius: 3px;
    background-repeat: no-repeat;
}
.ser-img_4 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_map.jpeg);
    border-radius: 3px;
}
.servies a {
    text-decoration: none;
    margin-top: 5em;
}
.text1 {
    font-size: 5vw;
    font-weight: 600;
}
.text2 {
    font-size: 4vw;
    font-weight: 500;
} 
.ser-dis {
    background-color: #59cad3;
    text-align: center;
    padding: 30px;
    line-height: 2;
    font-size: 4.15vw;
    font-weight: 600;
    color: white;
    margin-top: -.2em;
}
.beguni {
    background-color: #6f6998fa;
}
.beguni2 {
    background-color: #a69bc1;
}
.akasi {
    background-color: #048cbdf6;
}
.akasi2 {
    background-color: #59b9dc;
}
.holud {
    background-color: #bdc225f6;
}
.holud2 {
    background-color: #d1d567;
}
.servies a {
    margin-bottom: 1rem;
}

.links {
    display: inline-block;
    margin-bottom: -10px;
}
.ser_img {
    background-repeat: no-repeat;
    height: 20vh;
}
.project-count a {
    font-size: 13px;
}
footer {
    background-color: #292f36;
    margin: 0;
    padding: 0;
    color: white;
    display: block;
}
.fotter-links {
    display: block;
    margin: .3rem;
    padding: .5rem;
    text-align: center;
}
.fotter-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 3px;
    
}
.policy {
    color: #ffa41c;
}
#policy:hover {
    text-decoration: underline #ffa41c;
}
.footer-copyright {
   
}
.footer-text1 .footer-text2 {
    font-size: .9rem;
}
.footer-right select {
    margin-top: 2rem;
    height: 1.4rem;
    width: 7rem;

}
.footer-right{
    display: block;
}
.footer-icons a i {
    color: white;
}
.footer-icons a {
    padding: .6rem;
}
.footer-copyrght {
    display: block;
}
.linkss {
    display: none;
}
.footer-right {
    text-align: center;
}

}

/* medium screen */

@media screen and (min-width: 321px) and (max-width: 375px){
    nav {
        background-color: #0093a4;
        height: 3rem;
        width: 100%;
    }
    .nav-left a img {
        height: 2rem;
        width: 2rem;
        margin-top: .5rem;
    }
    .nav-right {
        display: flex;
        justify-content: start;
        margin-left: auto;
        align-items: center;
        margin-right: 10px;
    }
    .nav-left ul {
        display: none;
    }
    .bars {
        display: block;
    }
    .bars i {
        font-size: .5rem;
    }
    .create {
        display: none;
    }
    .question {
        display: none;
    }
    .nav-right button {
        padding: 3px;
        color: white;
        cursor: pointer;
        width: 4rem;
        font-size: .8rem;
    }
    .nav-right a {
        border: none;
        border-radius: 3px;
        margin: 0px .2rem;
    }
    .nav-right a {
        border: 1px solid white;
        border-radius: 3px;
        margin: 0px.2rem;
    }
    .superhero-girl-text{
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .superhero-girl-text h1 {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
        padding-bottom: .5rem;
        text-align: center;
        line-height: 1.16;

    }
    .superhero-girl-text h2 {
        text-align: center;
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        line-height: 1.4;
    }
    .container {
        display: block;
    }
    .superhero-girl-text a {
        margin: 0;
    }
    .btn {
        display: inline-block;
    }
   .superhero-girl-img img {
    width: 80%;
    display: block;
    position: relative;
    left: 4rem;
    margin-top: 1rem;
   }
img.tablet {
    display: none;
}
.statitics {
    display: flex;
    flex-wrap: nowrap;
    margin: .02rem .01rem;
}
.stats-num {
    font-size: 5vw;
}
.stats-dis{
    font-size: 1.3vw;
}
.servies {
    text-align: center;
    display: block;
    justify-content: space-evenly;
    row-gap: 3rem;
}
.ser-img {
    height: 30vh;
    width: 90vw;
    background-image: url(hour-of-code.jpeg);
    border-radius: 3px;
}
.ser-img_2 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_elementary.jpg);
    border-radius: 3px;
}
.ser-img_3 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_teacher2.jpeg);
    border-radius: 3px;
    background-repeat: no-repeat;
}
.ser-img_4 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_map.jpeg);
    border-radius: 3px;
}
.servies a {
    text-decoration: none;
    margin-top: 5em;
}
.text1 {
    font-size: 5vw;
    font-weight: 600;
}
.text2 {
    font-size: 4vw;
    font-weight: 500;
} 
.ser-dis {
    background-color: #59cad3;
    text-align: center;
    padding: 30px;
    line-height: 2;
    font-size: 4.15vw;
    font-weight: 600;
    color: white;
    margin-top: -.2em;
}
.holud2 {
    background-color: #d1d567;
}
.servies a {
    margin-bottom: 1rem;
}

.links {
    display: inline-block;
    margin-bottom: -10px;
}
.beguni {
    background-color: #6f6998fa;
}
.beguni2 {
    background-color: #a69bc1;
}
.akasi {
    background-color: #048cbdf6;
}
.akasi2 {
    background-color: #59b9dc;
}
.holud {
    background-color: #bdc225f6;
}
.holud2 {
    background-color: #d1d567;
}
.servies a {
    margin-bottom: 1rem;
}
.ser_img {
    background-repeat: no-repeat;
    height: 20vh;
}
.project-count a {
    font-size: 4vw;
}
footer {
    background-color: #292f36;
    margin: 0;
    padding: 0;
    color: white;
    display: block;
}
.fotter-links {
    display: block;
    margin: .3rem;
    padding: .5rem;
    text-align: center;
}
.fotter-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 3px;
    
}
.policy {
    color: #ffa41c;
}
#policy:hover {
    text-decoration: underline #ffa41c;
}
.footer-copyright {
   
}
.footer-text1 .footer-text2 {
    font-size: .9rem;
}
.footer-right select {
    margin-top: 2rem;
    height: 1.4rem;
    width: 7rem;

}
.footer-right{
    display: block;
}
.footer-icons a i {
    color: white;
}
.footer-icons a {
    padding: .6rem;
}
.footer-copyrght {
    display: block;
}
.linkss {
    display: none;
}
.footer-right {
    text-align: center;
}

}
/* Large mobile screen */

@media screen and (min-width: 376px) and (max-width: 425px){
    nav {
        background-color: #0093a4;
        height: 3rem;
        width: 100%;
    }
    .nav-left a img {
        height: 2rem;
        width: 2rem;
        margin-top: .5rem;
    }
    .nav-right {
        display: flex;
        justify-content: start;
        margin-left: auto;
        align-items: center;
        margin-right: 10px;
    }
    .nav-left ul {
        display: none;
    }
    .bars {
        display: block;
    }
    .bars i {
        font-size: .5rem;
    }
    .nav-right button {
        padding: 3px;
        color: white;
        cursor: pointer;
        width: 4rem;
        font-size: .8rem;
    }
    .nav-right a {
        border: none;
        border-radius: 3px;
        margin: 0px .2rem;
    }
    .nav-right a {
        border: 1px solid white;
        border-radius: 3px;
        margin: 0px.2rem;
    }
    .superhero-girl-text{
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .superhero-girl-text h1 {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
        padding-bottom: .5rem;
        text-align: center;
        line-height: 1.16;

    }
    .superhero-girl-text h2 {
        text-align: center;
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        line-height: 1.4;
    }
    .container {
        display: block;
    }
    .superhero-girl-text a {
        margin: 0;
    }
    .btn {
        display: inline-block;
    }
   .superhero-girl-img img {
    width: 80%;
    display: block;
    position: relative;
    left: 4rem;
    margin-top: 1rem;
   }
   img.tablet {
    display: none;
}
.statitics {
    display: flex;
    flex-wrap: nowrap;
    margin: .02rem .01rem;
}
.stats-num {
    font-size: 5vw;
}
.stats-dis{
    font-size: 1.3vw;
}
.servies {
    text-align: center;
    display: block;
    justify-content: space-evenly;
    row-gap: 3rem;
}
.ser-img {
    height: 30vh;
    width: 90vw;
    background-image: url(hour-of-code.jpeg);
    border-radius: 3px;
}
.ser-img_2 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_elementary.jpg);
    border-radius: 3px;
}
.ser-img_3 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_teacher2.jpeg);
    border-radius: 3px;
    background-repeat: no-repeat;
}
.ser-img_4 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_map.jpeg);
    border-radius: 3px;
}
.servies a {
    text-decoration: none;
    margin-top: 5em;
}
.text1 {
    font-size: 5vw;
    font-weight: 600;
}
.text2 {
    font-size: 4vw;
    font-weight: 500;
} 
.ser-dis {
    background-color: #59cad3;
    text-align: center;
    padding: 30px;
    line-height: 2;
    font-size: 4.15vw;
    font-weight: 600;
    color: white;
    margin-top: -.2em;
}
.holud2 {
    background-color: #d1d567;
}
.servies a {
    margin-bottom: 1rem;
}

.links {
    display: inline-block;
    margin-bottom: -10px;
}

.beguni {
    background-color: #6f6998fa;
}
.beguni2 {
    background-color: #a69bc1;
}
.akasi {
    background-color: #048cbdf6;
}
.akasi2 {
    background-color: #59b9dc;
}
.holud {
    background-color: #bdc225f6;
}
.holud2 {
    background-color: #d1d567;
}
.servies a {
    margin-bottom: 1rem;
}
.ser_img {
    background-repeat: no-repeat;
    height: 20vh;
}
.project-count a {
    font-size: 3.4vw;
}
footer {
    background-color: #292f36;
    margin: 0;
    padding: 0;
    color: white;
    display: block;
}
.fotter-links {
    display: block;
    margin: .3rem;
    padding: .5rem;
    text-align: center;
}
.fotter-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 3px;
    
}
.policy {
    color: #ffa41c;
}
#policy:hover {
    text-decoration: underline #ffa41c;
}
.footer-copyright {
   
}
.footer-text1 .footer-text2 {
    font-size: .9rem;
}
.footer-right select {
    margin-top: 2rem;
    height: 1.4rem;
    width: 7rem;

}
.footer-right{
    display: block;
}
.footer-icons a i {
    color: white;
}
.footer-icons a {
    padding: .6rem;
}
.footer-copyrght {
    display: block;
}
.linkss {
    display: none;
}
.footer-right {
    text-align: center;
}


}

/* 426 to 550 */
/* 
@media screen and (min-width: 426px) and (max-width: 550px){
    nav {
        background-color: #0093a4;
        height: 3rem;
        width: 100%;
    }
    .nav-left a img {
        height: 2rem;
        width: 2rem;
        margin-top: .5rem;
    }
    .nav-right {
        display: flex;
        justify-content: start;
        margin-left: auto;
        align-items: center;
        margin-right: 10px;
    }
    .nav-left ul {
        display: none;
    }
    .bars {
        display: block;
    }
    .bars i {
        font-size: .5rem;
    }
    .nav-right button {
        padding: 3px;
        color: white;
        cursor: pointer;
        width: 4rem;
        font-size: .8rem;
    }
    .nav-right a {
        border: none;
        border-radius: 3px;
        margin: 0px .2rem;
    }
    .nav-right a {
        border: 1px solid white;
        border-radius: 3px;
        margin: 0px.2rem;
    }
    .superhero-girl-text{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .superhero-girl-text h1 {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
        padding-bottom: .5rem;
        text-align: center;
        line-height: 1.16;

    }
    .superhero-girl-text h2 {
        text-align: center;
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        line-height: 1.4;
    }
    .container {
        display: block;
    }
    .btn {
        position: relative;
        text-align: center;
    }
   .superhero-girl-img img {
    width: 80%;
    display: block;
    position: relative;
    left: 4rem;
    margin-top: 1rem;
   } 
}
*/
/* 426 to 663 */
@media screen and (min-width: 426px) and (max-width: 511px){
    nav {
        background-color: #0093a4;
        height: 3rem;
        width: 100%;
    }
    .nav-left a img {
        height: 2rem;
        width: 2rem;
        margin-top: .5rem;
    }
    .nav-right {
        display: flex;
        justify-content: start;
        margin-left: auto;
        align-items: center;
        margin-right: 10px;
    }
    .nav-left ul {
        display: none;
    }
    .bars {
        display: block;
    }
    .bars i {
        font-size: .5rem;
    }
    .nav-right button {
        padding: 3px;
        color: white;
        cursor: pointer;
        width: 4rem;
        font-size: .8rem;
    }
    .nav-right a {
        border: none;
        border-radius: 3px;
        margin: 0px .2rem;
    }
    .nav-right a {
        border: 1px solid white;
        border-radius: 3px;
        margin: 0px.2rem;
    }
    .superhero-girl-text{
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .superhero-girl-text h1 {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
        padding-bottom: .5rem;
        text-align: center;
        line-height: 1.16;

    }
    .superhero-girl-text h2 {
        text-align: center;
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        line-height: 1.4;
    }
    .container {
        display: block;
    }
    .superhero-girl-text a {
        margin: 0;
    }
    .btn {
        display: inline-block;
    }
   .superhero-girl-img img {
    width: 80%;
    display: block;
    position: relative;
    left: 4rem;
    margin-top: 1rem;
   }
   img.tablet {
    display: none;
}
.statitics {
    display: flex;
    flex-wrap: nowrap;
    margin: .02rem .01rem;
}
.stats-num {
    font-size: 5vw;
}
.stats-dis{
    font-size: 1.3vw;
}
.servies {
    text-align: center;
    display: block;
    justify-content: space-evenly;
    row-gap: 3rem;
}
.ser-img {
    height: 30vh;
    width: 90vw;
    background-image: url(hour-of-code.jpeg);
    border-radius: 3px;
}
.ser-img_2 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_elementary.jpg);
    border-radius: 3px;
}
.ser-img_3 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_teacher2.jpeg);
    border-radius: 3px;
    background-repeat: no-repeat;
}
.ser-img_4 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_map.jpeg);
    border-radius: 3px;
}
.servies a {
    text-decoration: none;
    margin-top: 5em;
}
.text1 {
    font-size: 5vw;
    font-weight: 600;
}
.text2 {
    font-size: 4vw;
    font-weight: 500;
} 
.ser-dis {
    background-color: #59cad3;
    text-align: center;
    padding: 30px;
    line-height: 2;
    font-size: 4.15vw;
    font-weight: 600;
    color: white;
    margin-top: -.2em;
}
.holud2 {
    background-color: #d1d567;
}
.servies a {
    margin-bottom: 1rem;
}

.links {
    display: inline-block;
    margin-bottom: -10px;
}

.beguni {
    background-color: #6f6998fa;
}
.beguni2 {
    background-color: #a69bc1;
}
.akasi {
    background-color: #048cbdf6;
}
.akasi2 {
    background-color: #59b9dc;
}
.holud {
    background-color: #bdc225f6;
}
.holud2 {
    background-color: #d1d567;
}
.servies a {
    margin-bottom: 1rem;
}
.ser_img {
    background-repeat: no-repeat;
    height: 20vh;
    width: 25rem;
}
.project-count a {
    font-size: 3vw;
}
footer {
    background-color: #292f36;
    margin: 0;
    padding: 0;
    color: white;
    display: block;
}
.fotter-links {
    display: block;
    margin: .3rem;
    padding: .5rem;
    text-align: center;
}
.fotter-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 3px;
    
}
.policy {
    color: #ffa41c;
}
#policy:hover {
    text-decoration: underline #ffa41c;
}
.footer-copyright {
   
}
.footer-text1 .footer-text2 {
    font-size: .9rem;
}
.footer-right select {
    margin-top: 2rem;
    height: 1.4rem;
    width: 7rem;

}
.footer-right{
    display: block;
}
.footer-icons a i {
    color: white;
}
.footer-icons a {
    padding: .6rem;
}
.footer-copyrght {
    display: block;
}
.linkss {
    display: none;
}
.footer-right {
    text-align: center;
}



}
@media screen and (min-width: 512px) and (max-width: 673px){
    nav {
        background-color: #0093a4;
        height: 3rem;
        width: 100%;
    }
    .nav-left a img {
        height: 2rem;
        width: 2rem;
        margin-top: .5rem;
    }
    .nav-right {
        display: flex;
        justify-content: start;
        margin-left: auto;
        align-items: center;
        margin-right: 10px;
    }
    .nav-left ul {
        display: none;
    }
    .bars {
        display: block;
    }
    .bars i {
        font-size: .5rem;
    }
    .nav-right button {
        padding: 3px;
        color: white;
        cursor: pointer;
        width: 4rem;
        font-size: .8rem;
    }
    .nav-right a {
        border: none;
        border-radius: 3px;
        margin: 0px .2rem;
    }
    .nav-right a {
        border: 1px solid white;
        border-radius: 3px;
        margin: 0px.2rem;
    }
    .superhero-girl-text{
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .superhero-girl-text h1 {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
        padding-bottom: .5rem;
        text-align: center;
        line-height: 1.16;

    }
    .superhero-girl-text h2 {
        text-align: center;
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        line-height: 1.4;
    }
    .container {
        display: block;
    }
    .superhero-girl-text a {
        margin: 0;
    }
    .btn {
        display: inline-block;
    }
   .superhero-girl-img img {
    width: 80%;
    display: block;
    position: relative;
    left: 4rem;
    margin-top: 1rem;
   }
   img.tablet {
    display: none;
}
.statitics {
    display: flex;
    flex-wrap: nowrap;
    margin: .02rem .01rem;
}
.stats-num {
    font-size: 5vw;
}
.stats-dis{
    font-size: 1.3vw;
}
.servies {
    text-align: center;
    display: block;
    justify-content: space-evenly;
    row-gap: 3rem;
}
.ser-img {
    height: 30vh;
    width: 90vw;
    background-image: url(hour-of-code.jpeg);
    border-radius: 3px;
}
.ser-img_2 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_elementary.jpg);
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_teacher2.jpeg);
    border-radius: 3px;
    background-repeat: no-repeat;
}
.ser-img_4 {
    height: 30vh;
    width: 90vw;
    background-image: url(logo_tall_map.jpeg);
    border-radius: 3px;
}
.servies a {
    text-decoration: none;
    margin-top: 5em;
}
.text1 {
    font-size: 1rem;
    font-weight: 600;
}
.text2 {
    font-size: .8rem;
    font-weight: 500;
} 
.ser-dis {
    background-color: #59cad3;
    text-align: center;
    padding: 30px;
    line-height: 2;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-top: -.2em;
}
.holud2 {
    background-color: #d1d567;
}
.servies a {
    margin-bottom: 1rem;
}

.links {
    display: inline-block;
    margin-bottom: -10px;
}

.beguni {
    background-color: #6f6998fa;
}
.beguni2 {
    background-color: #a69bc1;
}
.akasi {
    background-color: #048cbdf6;
}
.akasi2 {
    background-color: #59b9dc;
}
.holud {
    background-color: #bdc225f6;
}
.holud2 {
    background-color: #d1d567;
}
.servies a {
    margin-bottom: 1rem;
}
.ser_img {
    background-repeat: no-repeat;
    height: 20vh;
    width: 48vw;
}
.project-count a {
    font-size: 3vw;
}
footer {
    background-color: #292f36;
    margin: 0;
    padding: 0;
    color: white;
    display: block;
}
.fotter-links {
    display: block;
    margin: .3rem;
    padding: .5rem;
    text-align: center;
}
.fotter-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 3px;
    
}
.policy {
    color: #ffa41c;
}
#policy:hover {
    text-decoration: underline #ffa41c;
}
.footer-copyright {
   
}
.footer-text1 .footer-text2 {
    font-size: .9rem;
}
.footer-right select {
    margin-top: 2rem;
    height: 1.4rem;
    width: 7rem;

}
.footer-right{
    display: block;
}
.footer-icons a i {
    color: white;
}
.footer-icons a {
    padding: .6rem;
}
.footer-copyrght {
    display: block;
}
.linkss {
    display: none;
}
.footer-right {
    text-align: center;
}

}




/* tablet screen */ 
@media screen and (min-width: 674px) and (max-width: 768px){
    .superhero-girl {
        background-color: #ffdfa1;
        background-position: 50% 100%;
    }

    .superhero-girl-text {
        width: 50%;
        margin: 0px;
        padding: 0px;
    }
    .nav-left ul {
        display: none;
    }    
    .superhero-girl-text h1 {
        color: #292F36;
        margin: 0 0 0.5em 0;
        font-family: "Barlow Semi Condensed Semibold", sans-serif;
        font-size: 2rem;
        line-height: 1.16;
        padding-left: 2rem;
        padding-top: 2rem;
    }
    .superhero-girl-text h2 {
        color: #292F36;
        font-family: "Metropolis", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 1em;
        font-size: .8rem;
        line-height: 1.4;
        margin: 1em 0;
        padding-left: 2rem;
    }
    .superhero-girl-text a {
        text-decoration: none;
        color: white;
        font-family: "Metropolis", sans-serif;
        font-weight: 200;
        margin-left: 2rem;
        padding: 12px 20px;
        background-color: #44769f;
        border: #44769f;
        border-radius: 5px;
    }
    .container {
        display: flex;
    }
    img.all {
        display: none;
    
    }
    img.tablet {
        display: block;

    }
    .superhero-girl-img img {
        width: 50vw;
        position: relative;
        bottom: 0;
    }
    .statitics {
        display: flex;
        flex-wrap: nowrap;
        margin: .02rem .01rem;
    }
    .stats-num {
        font-size: 5vw;
    }
    .stats-dis{
        font-size:1.3vw;
    }
    .ser-img {
        height: 33vh;
        width: 23vw;
        background-image: url(hour-of-code.jpeg);
        border-radius: 3px;
    }
    .ser-img_2 {
        height: 33vh;
        width: 23vw;
        background-image: url(logo_tall_elementary.jpg);
        border-radius: 3px;
    }
    .ser-img_3 {
        height: 33vh;
        width: 23vw;
        background-image: url(logo_tall_teacher2.jpeg);
        border-radius: 3px;
    }
    .ser-img_4 {
        height: 33vh;
        width: 23vw;
        background-image: url(logo_tall_map.jpeg);
        border-radius: 3px;
    }
    .ser_img {
        height: 20vh;
        width: 22vw;
    }

    footer {
        background-color: #292f36;
        margin: 0;
        padding: 0;
        color: white;
        display: block;
    }
    .fotter-links {
        display: block;
        margin: .3rem;
        padding: .5rem;
        text-align: center;
    }
    .fotter-links a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        margin: 3px;
        
    }
    .policy {
        color: #ffa41c;
    }
    #policy:hover {
        text-decoration: underline #ffa41c;
    }
    .footer-text1 .footer-text2 {
        font-size: .9rem;
    }
    .footer-right select {
        margin-top: 2rem;
        height: 1.4rem;
        width: 7rem;
    
    }
    .footer-right{
        display: block;
    }
    .footer-icons a i {
        color: white;
    }
    .footer-icons a {
        padding: .6rem;
    }
    .footer-copyrght {
        display: block;
    }
    .linkss {
        display: none;
    }
    .footer-right {
        text-align: center;
    }
    
}

/* laptop screen */


@media screen and (min-width: 769px) and (max-width: 800px){
    .superhero-girl {
        background-color: #ffdfa1;
        background-position: 50% 100%;
    }

    .superhero-girl-text {
        width: 50%;
        margin: 0px;
        padding: 0px;
    }  
    .superhero-girl-text h1 {
        color: #292F36;
        margin: 0 0 0.5em 0;
        font-family: "Barlow Semi Condensed Semibold", sans-serif;
        font-size: 2rem;
        line-height: 1.16;
        padding-left: 2rem;
        padding-top: 2rem;
    }
    .superhero-girl-text h2 {
        color: #292F36;
        font-family: "Metropolis", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 1em;
        font-size: 1rem;
        line-height: 1.4;
        margin: 1em 0;
        padding-left: 2rem;
    }
    .superhero-girl-text a {
        text-decoration: none;
        color: white;
        font-family: "Metropolis", sans-serif;
        font-weight: 200;
        margin-left: 2rem;
        padding: 12px 20px;
        background-color: #44769f;
        border: #44769f;
        border-radius: 5px;
    }
    .container {
        display: flex;
    }
    img.all {
        display: none;
    
    }
    img.tablet {
        display: block;

    }
    .superhero-girl-img img {
        width: 50vw;
        position: relative;
        bottom: 0;
    }
    .statitics {
        display: flex;
        flex-wrap: nowrap;
        margin: .02rem .01rem;
    }
    .stats-num {
        font-size: 5vw;
    }
    .stats-dis{
        font-size: 1.3vw;
    }
    .ser-img {
        height: 33vh;
        width: 23vw;
        background-image: url(hour-of-code.jpeg);
        border-radius: 3px;
    }
    .ser-img_2 {
        height: 33vh;
        width: 23vw;
        background-image: url(logo_tall_elementary.jpg);
        border-radius: 3px;
    }
    .ser-img_3 {
        height: 33vh;
        width: 23vw;
        background-image: url(logo_tall_teacher2.jpeg);
        border-radius: 3px;
    }
    .ser-img_4 {
        height: 33vh;
        width: 23vw;
        background-image: url(logo_tall_map.jpeg);
        border-radius: 3px;
    }
    .ser_img {
        background-repeat: no-repeat;
        height: 17vh;
        width: 23vw;
    }
    footer {
        background-color: #292f36;
        margin: 0;
        padding: 0;
        color: white;
        display: block;
    }
    .fotter-links {
        display: block;
        margin: .3rem;
        padding: .5rem;
        text-align: center;
    }
    .fotter-links a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        margin: 3px;
        
    }
    .policy {
        color: #ffa41c;
    }
    #policy:hover {
        text-decoration: underline #ffa41c;
    }
  
    .footer-text1 .footer-text2 {
        font-size: .9rem;
    }
    .footer-right select {
        margin-top: 2rem;
        height: 1.4rem;
        width: 7rem;
    
    }
    .footer-right{
        display: block;
    }
    .footer-icons a i {
        color: white;
    }
    .footer-icons a {
        padding: .6rem;
    }
    .footer-copyrght {
        display: block;
    }
    /* .linkss {
        display: none; 
    }*/
    .footer-right {
        text-align: center;
    }
    
    
}
@media screen and (min-width: 801px) and (max-width: 985px){

.superhero-girl {
    background-color: #ffdfa1;
    background-position: 50% 100%;
}
.superhero-girl-text {
    width: 50%;
    margin: 0px;
    padding: 0px;
}
.superhero-girl-text h1 {
    color: #292F36;
    margin: 0 0 0.5em 0;
    font-family: "Barlow Semi Condensed Semibold", sans-serif;
    font-size: 1.6rem;
    line-height: 1.16;
    padding-left: 5rem;
    padding-top: 1rem;
    text-align: left;
}
.superhero-girl-text h2 {
    color: #292F36;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1em;
    font-size: .8rem;
    line-height: 1.4;
    margin: 1em 0;
    padding-left: 5rem;
}
.superhero-girl-text a {
    text-decoration: none;
    color: white;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    margin-left: 5rem;
    padding: 12px 20px;
    background-color: #44769f;
    border: #44769f;
    border-radius: 5px;
}
.container {
    display: flex;
}
.superhero-girl img {
    width: 50vw;

}
img.tablet {
    display: none;
}
.statitics {
    display: flex;
    flex-wrap: nowrap;
    margin: .02rem .01rem;
}
.stats-num {
    font-size: 5vw;
}
.stats-dis{
    font-size: 1.3vw;
}
.ser_img {
    background-repeat: no-repeat;
    height: 23vh;
    width: 23vw;
}
footer {
    background-color: #292f36;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
}
.fotter-links {
    display: block;
    margin: 0 3rem;
    padding: 2rem;
}
.fotter-links a {
    color: white;
    text-decoration: none;
    font-size: 1.6vw;
    margin: 3px;
    line-height: .8;
}
.footer-copyrght {
    margin-top: 1rem;
}
.policy {
    color: #ffa41c;
}
#policy:hover {
    text-decoration: underline #ffa41c;
}
.footer-text1 .footer-text2 {
    font-size: .9rem;
}
.footer-right select {
    margin-top: 2rem;
    height: 1.4rem;
    width: 7rem;

}
.footer-right{
    display: block;
    margin-right: 1rem;
    
}
.footer-icons a i {
    color: white;
}
.footer-icons a {
    padding: .6rem;
    
}


}
@media screen and (min-width: 986px) and (max-width: 1024px){
    .superhero-girl {
        background-color: #ffdfa1;
        background-position: 50% 100%;
    }
    .superhero-girl-text {
        width: 50%;
        margin: 0px;
        padding: 0px;
    }
    .superhero-girl-text h1 {
        color: #292F36;
        margin: 0 0 0.5em 0;
        font-family: "Barlow Semi Condensed Semibold", sans-serif;
        font-size: 1.6rem;
        line-height: 1.16;
        padding-left: 8rem;
        padding-top: 3rem;
        text-align: left;
    }
    .superhero-girl-text h2 {
        color: #292F36;
        font-family: "Metropolis", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 1em;
        font-size: 1rem;
        line-height: 1.4;
        margin: 1em 0;
        padding-left: 8rem;
    }
    .superhero-girl-text a {
        text-decoration: none;
        color: white;
        font-family: "Metropolis", sans-serif;
        font-weight: 400;
        margin-left: 8rem;
        padding: 12px 20px;
        background-color: #44769f;
        border: #44769f;
        border-radius: 5px;
    }
    .container {
        display: flex;
    }
    .superhero-girl img {
        width: 50vw;
    
    }
    img.tablet {
        display: none;
    }
    .statitics {
        display: flex;
        flex-wrap: nowrap;
        margin: .02rem .01rem;
    }
    .stats-num {
        font-size: 5vw;
    }
    .stats-dis{
        font-size: 1.3vw;
    }
    .ser_img {
        background-repeat: no-repeat;
        height: 26vh;
        width: 23vw;
    }
    footer {
        background-color: #292f36;
        margin: 0;
        padding: 0;
        color: white;
        display: flex;
    }
    .fotter-links {
        display: block;
        margin: 0 3rem;
        padding: 2rem;
    }
    .fotter-links a {
        color: white;
        text-decoration: none;
        font-size: 1.6vw;
        margin: 3px;
        line-height: .8;
    }
    .footer-copyrght {
        margin-top: 1rem;
    }
    .policy {
        color: #ffa41c;
    }
    #policy:hover {
        text-decoration: underline #ffa41c;
    }
    .footer-text1 .footer-text2 {
        font-size: .9rem;
    }
    .footer-right select {
        margin-top: 2rem;
        height: 1.4rem;
        width: 7rem;
    
    }
    .footer-right{
        display: block;
        margin-right: 1rem;
        
    }
    .footer-icons a i {
        color: white;
    }
    .footer-icons a {
        padding: .6rem;
    }
    
    
}
@media screen and (min-width: 1025px) and (max-width: 1275px){
    .superhero-girl {
        background-color: #ffdfa1;
        background-position: 50% 100%;
    }
    .superhero-girl-text {
        width: 50%;
        margin: 0px;
        padding: 0px;
    }
    .superhero-girl-text h1 {
        color: #292F36;
        margin: 0 0 0.5em 0;
        font-family: "Barlow Semi Condensed Semibold", sans-serif;
        font-size: 2rem;
        line-height: 1.16;
        padding-left: 8.5rem;
        padding-top: 3.5rem;
        text-align: left;
    }
    .superhero-girl-text h2 {
        color: #292F36;
        font-family: "Metropolis", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 1em;
        font-size: 1rem;
        line-height: 1.4;
        margin: 1em 0;
        padding-left: 8.5rem;
    }
    .superhero-girl-text a {
        text-decoration: none;
        color: white;
        font-family: "Metropolis", sans-serif;
        font-weight: 400;
        margin-left: 8.5rem;
        padding: 12px 20px;
        background-color: #44769f;
        border: #44769f;
        border-radius: 5px;
    }
    .container {
        display: flex;
    }
    .superhero-girl img {
        width: 50vw;
    
    }
    img.tablet {
        display: none;
    }
     .statitics {
        display: flex;
        flex-wrap: nowrap;
        margin: .02rem .05rem;
    }
    .stats-num {
        font-size: 5vw;
    }
    .stats-dis{
        font-size: 1.3vw;
    } 
    .ser_img {
        background-repeat: no-repeat;
        height: 27vh;
        width: 23vw;
    }
    

    
    
}



/* @media screen and (min-width: 426px) and (max-width: 768px){
    .nav-left ul li a {
        text-decoration: none;
        color: white;
        font-size: .5rem;
    }
    .nav-left ul li {
        padding: 0px 10px;
    }  

} */